* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

a {
  text-decoration: none; }

.wrapper {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto; }

.social {
  display: flex;
  justify-content: space-between; }

header {
  position: relative;
  z-index: 9999;
  height: 70px; }
  header .wrapper {
    justify-content: space-between; }
  header .nav-block-header, header .wrapper {
    display: flex;
    align-items: center; }
  header .btn-block {
    position: relative;
    width: 50px;
    height: 50px; }
  header .main-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #362f2f; }
  header .btn-open {
    z-index: 100;
    background-color: #362f2f;
    color: white; }
  header .btn-closed {
    background-color: transparent;
    color: black; }
  header .none {
    display: none; }
  header .menu li a {
    display: block;
    padding: 10px 15px; }
  header .menu-item {
    margin-right: 2px;
    position: relative; }
  header .menu-item, header .submenu-item {
    color: #362f2f;
    font: 700 12px/1 "Roboto Condensed";
    text-transform: uppercase;
    letter-spacing: 1.2px; }
  header .menu {
    display: flex; }
  header .submenu {
    position: absolute;
    display: none;
    background-color: #fff; }
  header .submenu-item {
    margin-top: 1px; }
    header .submenu-item .submenu {
      top: 57%;
      left: 100%; }
  header a {
    color: black; }
  header img {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 46%; }
  header .social {
    max-width: 170px;
    color: #362f2f;
    font-size: 12px; }
    header .social li {
      margin-right: 15px; }

@media screen and (max-width: 1200px) {
  .nav-block-header {
    padding: 0px 80px; } }

@media screen and (max-width: 992px) {
  header {
    height: 300px; }
    header .menu {
      display: block; }
      header .menu .submenu {
        top: 57%;
        left: 100%; }
    header .social {
      display: block; }
      header .social li {
        margin-bottom: 10px; } }

@media screen and (max-width: 576px) {
  .nav-block-header {
    padding: 0px 30px; } }

#gallery {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto; }
  #gallery .wrapper {
    position: relative; }
  #gallery .btn-counter-block {
    position: absolute;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    bottom: 90px;
    left: 263px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #gallery .buttons {
    display: flex;
    margin-bottom: 10px; }
    #gallery .buttons a {
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 0;
      margin: 0;
      border: 1px solid #362f2f;
      background-color: #362f2f; }
  #gallery .photos .item-block-img {
    position: relative;
    display: none; }
  #gallery .photos img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 1140px; }
  #gallery .photos .active {
    display: block; }
  #gallery .popup {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 263px;
    height: 263px;
    background: #ffffff;
    color: #362f2f;
    font: 400 18px/1 "Roboto Condensed"; }
    #gallery .popup .popup_right {
      display: flex;
      justify-content: flex-end;
      margin: 10px 10px 35px;
      color: #c29f00; }
  #gallery .popup_content {
    width: 160px;
    margin-left: 20px; }
  #gallery .popup_title {
    text-transform: uppercase; }
  #gallery .popup_subtitle {
    font-style: italic;
    margin-bottom: 15px; }
  #gallery .popup_text {
    font: 300 14px/1 "Roboto Condensed"; }
  #gallery .popup_icon {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    color: #c29f00;
    font-size: 14px; }
    #gallery .popup_icon a {
      color: #c29f00; }

.portfolio_box {
  padding-bottom: 100px; }
  .portfolio_box .portfolio {
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap; }
    .portfolio_box .portfolio .portfolio_title {
      padding: 160px 200px 200px 20px;
      width: 380px;
      height: 380px;
      color: #362f2f;
      font: 400 24px/14px "Roboto Condensed";
      text-transform: uppercase;
      letter-spacing: 2.4px; }
      .portfolio_box .portfolio .portfolio_title .portfolio_title_item {
        margin-top: 10px;
        font: 300 18px/14px "Roboto Condensed";
        letter-spacing: 1.8px; }

@media screen and (max-width: 992px) {
  .portfolio {
    justify-content: center; } }

.blog-box {
  margin-bottom: 200px;
  position: relative; }

.blog {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  color: #ffffff;
  text-transform: uppercase; }
  .blog .blog_item {
    margin: 20px 20px 20px 0;
    max-width: 360px;
    width: 100%;
    position: relative;
    width: 100%;
    height: 744px;
    background-color: #362f2f; }
    .blog .blog_item:after {
      position: absolute;
      bottom: -20px;
      content: '';
      width: 330px;
      height: 1px;
      border: 1px dotted #a7a7a7; }
    .blog .blog_item .blog_item_elem {
      padding: 15px; }
    .blog .blog_item .blog-img {
      margin-bottom: 30px;
      width: 100%; }
    .blog .blog_item .blog-heading {
      margin-bottom: 20px;
      height: 70px;
      overflow: hidden;
      font: 400 26px/24px "Roboto Condensed"; }
    .blog .blog_item .blog-text {
      margin-bottom: 50px;
      height: 80px;
      overflow: hidden;
      font: 300 14px "Roboto Condensed"; }
    .blog .blog_item .blog-btn {
      padding: 10px 60px;
      margin-left: 80px;
      font: 700 12px/1 "Roboto Condensed";
      background-color: #c3a000;
      color: #ffffff; }
    .blog .blog_item .blog_atribute {
      margin-top: 60px; }
    .blog .blog_item span {
      color: #fffefe;
      font: 300 12px "Roboto Condensed";
      letter-spacing: 1.2px; }
    .blog .blog_item .blog_date {
      margin-right: 200px; }
  .blog .item2, .blog .item4, .blog .item6 {
    background-color: #000000; }

.arrow_up {
  padding: 20px;
  position: absolute;
  right: 100px;
  width: 50px;
  height: 50px;
  background-color: #362f2f;
  color: #ffffff; }

.btn-page {
  display: flex; }
  .btn-page li {
    margin-right: 20px; }
  .btn-page li:first-child {
    margin-left: 350px; }
  .btn-page a {
    color: #202020;
    font: 300 12px/21px "Roboto Condensed"; }
  .btn-page .previos, .btn-page .next-page {
    padding: 15px 30px;
    width: 80px;
    height: 40px;
    background-color: #362f2f;
    color: #ffffff;
    font: 400 12px/21px "Roboto Condensed";
    text-transform: uppercase; }

@media screen and (max-width: 1200px) {
  .blog {
    justify-content: center; } }

@media screen and (max-width: 992px) {
  .blog {
    justify-content: center; }
  .btn-page li {
    margin-right: 10px; }
  .btn-page li:first-child {
    margin-left: 200px; }
  .btn-page .previos, .btn-page .next-page {
    padding: 10px 20px;
    width: 50px;
    height: 25px; } }

@media screen and (max-width: 768px) {
  .arrow_up {
    margin-top: 50px;
    position: absolute;
    left: 350px; } }

@media screen and (max-width: 576px) {
  .btn-page li {
    margin-right: 5px; }
  .btn-page li:first-child {
    margin-left: 150px; }
  .btn-page .previos, .btn-page .next-page {
    padding: 5px 10px;
    width: 50px;
    height: 25px; }
  .arrow_up {
    left: 230px;
    width: 25px;
    height: 25px;
    padding: 5px; } }

@media screen and (max-width: 360px) {
  .blog {
    padding: 0 10px;
    justify-content: center; }
  .btn-page li {
    margin-right: 5px; }
  .btn-page li:first-child {
    margin-left: 80px; }
  .arrow_up {
    left: 170px; } }

.container {
  margin: 0 auto;
  max-width: 750px;
  width: 100%; }
  .container article {
    margin-bottom: 50px; }
    .container article img {
      margin-bottom: 20px; }
    .container article h2 {
      margin-bottom: 25px;
      color: #333333;
      font: 400 30px/1 "Roboto Condensed";
      text-transform: uppercase; }
    .container article .blog_atribute {
      margin-bottom: 30px;
      text-align: center; }
      .container article .blog_atribute span {
        margin-right: 80px; }
    .container article p {
      margin-bottom: 30px;
      color: #000000;
      font: 400 13px/23px "Roboto Condensed"; }
    .container article .bold {
      font-weight: bold; }
    .container article .italic {
      font-style: italic; }
    .container article .pellentesq {
      text-transform: uppercase; }
  .container .share {
    margin-bottom: 100px; }
    .container .share span, .container .share i {
      margin-right: 40px; }
    .container .share span {
      margin-left: 40px; }
    .container .share i:last-child {
      margin-left: 380px; }
  .container .comments {
    margin-bottom: 100px;
    color: #333333;
    font: 700 18px/21px "Roboto Condensed"; }
    .container .comments h5 {
      margin-bottom: 25px; }
    .container .comments .comments1, .container .comments .comments2 {
      margin-bottom: 20px; }
    .container .comments .comments2 {
      margin-left: 20px; }
    .container .comments .comment-title {
      display: flex;
      margin-bottom: 15px; }
      .container .comments .comment-title h6 {
        margin-right: 30px;
        color: #333333;
        font: 400 16px/21px "Roboto Condensed"; }
      .container .comments .comment-title .comment-date {
        margin-right: 400px;
        color: #7f8c8c;
        font-size: 12px;
        font-weight: 400; }
      .container .comments .comment-title .reply {
        color: #333333;
        font: 400 12px/21px "Roboto Condensed";
        text-transform: uppercase; }
    .container .comments .text-comment {
      max-width: 730px;
      width: 100%;
      height: 70px;
      display: flex;
      color: #000000;
      font: 400 14px/22px "Roboto Condensed"; }
      .container .comments .text-comment .text {
        padding: 15px 50px 20px 20px;
        background-color: #e6e6e6; }
      .container .comments .text-comment .text-comment2 {
        background-color: transparent; }
  .container .comment-form {
    color: #333333;
    font: 700 20px/1 "Roboto Condensed"; }
    .container .comment-form .form-box, .container .comment-form .form__item, .container .comment-form textarea {
      color: #aaaaaa;
      font-size: 12px;
      font-weight: 400;
      line-height: 20.8px; }
    .container .comment-form .form-elem {
      padding: 0;
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap; }
    .container .comment-form .form__item, .container .comment-form textarea {
      margin-top: 20px;
      margin-right: 15px;
      padding: 25px 0 25px 25px;
      background-color: transparent;
      width: 350px;
      height: 56px;
      border: 2px solid #464646; }
    .container .comment-form textarea {
      width: 480px;
      height: 185px;
      resize: none; }
    .container .comment-form .form-btn {
      margin-top: 165px;
      width: 170px;
      height: 35px;
      background-color: #333333;
      color: #ffffff;
      cursor: pointer;
      font: 700 18px/1 "Roboto Condensed";
      text-transform: uppercase; }

@media screen and (max-width: 576px) {
  .container {
    margin: 0 auto;
    max-width: 750px;
    width: 100%; }
    .container article {
      margin-bottom: 50px; }
      .container article img {
        margin-bottom: 20px;
          width: 100%;
      }
      .container article h2 {
        margin-bottom: 25px;
        color: #333333;
        font: 400 30px/1 "Roboto Condensed";
        text-transform: uppercase; }
      .container article .blog_atribute {
        margin-bottom: 30px;
        text-align: center; }
        .container article .blog_atribute span {
          margin-right: 80px; }
      .container article p {
        margin-bottom: 30px;
        color: #000000;
        font: 400 13px/23px "Roboto Condensed"; }
      .container article .bold {
        font-weight: bold; }
      .container article .italic {
        font-style: italic; }
      .container article .pellentesq {
        text-transform: uppercase; }
    .container .share {
      margin-bottom: 100px; }
      .container .share span, .container .share i {
        margin-right: 40px; }
      .container .share span {
        margin-left: 40px; }
      .container .share i:last-child {
        margin-left: 380px; }
    .container .comments {
      margin-bottom: 100px;
      color: #333333;
      font: 700 18px/21px "Roboto Condensed"; }
      .container .comments h5 {
        margin-bottom: 25px; }
      .container .comments .comments1, .container .comments .comments2 {
        margin-bottom: 20px; }
      .container .comments .comments2 {
        margin-left: 20px; }
      .container .comments .comment-title {
        display: flex;
        margin-bottom: 15px; }
        .container .comments .comment-title h6 {
          margin-right: 30px;
          color: #333333;
          font: 400 16px/21px "Roboto Condensed"; }
        .container .comments .comment-title .comment-date {
          margin-right: 400px;
          color: #7f8c8c;
          font-size: 12px;
          font-weight: 400; }
        .container .comments .comment-title .reply {
          color: #333333;
          font: 400 12px/21px "Roboto Condensed";
          text-transform: uppercase; }
      .container .comments .text-comment {
        max-width: 730px;
        width: 100%;
        height: 70px;
        display: flex;
        color: #000000;
        font: 400 14px/22px "Roboto Condensed"; }
        .container .comments .text-comment .text {
          padding: 15px 50px 20px 20px;
          background-color: #e6e6e6; }
        .container .comments .text-comment .text-comment2 {
          background-color: transparent; }
    .container .comment-form {
      color: #333333;
      font: 700 20px/1 "Roboto Condensed"; }
      .container .comment-form .form-box, .container .comment-form .form__item, .container .comment-form textarea {
        color: #aaaaaa;
        font-size: 12px;
        font-weight: 400;
        line-height: 20.8px; }
      .container .comment-form .form-elem {
        padding: 0;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap; }
      .container .comment-form .form__item, .container .comment-form textarea {
        margin-top: 20px;
        margin-right: 15px;
        padding: 25px 0 25px 25px;
        background-color: transparent;
        width: 350px;
        height: 56px;
        border: 2px solid #464646; }
      .container .comment-form textarea {
        width: 480px;
        height: 185px;
        resize: none; }
      .container .comment-form .form-btn {
        margin-top: 165px;
        width: 170px;
        height: 35px;
        background-color: #333333;
        color: #ffffff;
        cursor: pointer;
        font: 700 18px/1 "Roboto Condensed";
        text-transform: uppercase; } }

.bottom {
  padding-top: 100px;
  display: flex;
  justify-content: space-between; }
  .bottom .workshop {
    padding-bottom: 20px;
    max-width: 360px;
    width: 100%;
    height: 360px;
    background-color: #1a0000;
    color: #ffffff;
    font: 300 18px/14px "Roboto Condensed";
    text-transform: uppercase;
    text-align: center; }
    .bottom .workshop img {
      width: 100%;
      margin-bottom: 20px; }
    .bottom .workshop h5, .bottom .workshop .date {
      margin-bottom: 15px; }
    .bottom .workshop .date {
      font-size: 16px;
      font-weight: 400; }
    .bottom .workshop .time {
      margin-bottom: 20px;
      font-size: 14px; }
    .bottom .workshop .brand {
      width: 67px;
      height: 67px;
      background-color: #c99000;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1.4px;
      margin: 0 auto; }
      .bottom .workshop .brand p {
        padding-top: 25px; }
  .bottom .news {
    max-width: 350px;
    width: 100%;
    height: 350px;
    color: #362f2f;
    font: 700 16px/14px  "Roboto Condensed";
    text-transform: uppercase;
    letter-spacing: 1.6px; }
    .bottom .news h5 {
      margin-bottom: 25px; }
    .bottom .news h5:after {
      content: '';
      width: 165px;
      height: 1px;
      display: block;
      background: #c3a000; }
    .bottom .news .news_item {
      display: flex;
      margin-bottom: 40px; }
      .bottom .news .news_item .news_photo {
        margin-right: 30px; }
      .bottom .news .news_item h6, .bottom .news .news_item .text_news {
        font-size: 12px;
        letter-spacing: 1.2px; }
      .bottom .news .news_item .date_news {
        margin-bottom: 5px;
        color: #7a7a7a;
        font-size: 11px; }
      .bottom .news .news_item .text_news {
        text-transform: none; }
      .bottom .news .news_item .text_link {
        color: #c3a000;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 1px; }
  .bottom .contact {
    max-width: 315px;
    width: 100%;
    height: 270px;
    color: #362f2f;
    font: 400 12px/14px "Roboto Condensed";
    letter-spacing: 1.2px; }
    .bottom .contact .contact_item {
      display: flex; }
      .bottom .contact .contact_item .contacts {
        padding: 10px; }
    .bottom .contact .logo2 {
      margin-right: 30px; }
    .bottom .contact .social {
      margin-top: 30px; }
    .bottom .contact .twitter_square {
      margin-top: 90px;
      text-align: center; }
      .bottom .contact .twitter_square i {
        font-size: 24px; }
      .bottom .contact .twitter_square p {
        margin-top: 20px;
        color: #c3a000;
        font: 400 18px/1 "Roboto Condensed - Light Italic"; }
      .bottom .contact .twitter_square span {
        color: #000000; }

@media screen and (max-width: 992px) {
  .bottom {
    flex-wrap: wrap; }
  .contact {
    margin-top: 50px; } }

@media screen and (max-width: 768px) {
  .bottom {
    flex-direction: column;
    align-items: center; }
  .workshop {
    margin-bottom: 50px; }
  .news {
    margin-bottom: 70px; } }

@media screen and (max-width: 576px) {
  .news {
    margin-bottom: 100px; } }

@media screen and (max-width: 360px) {
  .workshop, .news, .contact {
    padding: 30px; }
  .news {
    margin-bottom: 250px; }
  .contact {
    margin-bottom: 50px; } }

.partners {
  padding: 100px 0; }
  .partners .logos {
    display: flex;
    justify-content: space-between;
    align-items: center; }

@media screen and (max-width: 768px) {
  .logos {
    flex-wrap: wrap;
    flex-direction: column; }
    .logos li {
      margin-bottom: 30px; } }

footer {
  text-align: center;
  padding-bottom: 45px;
  color: #000000;
  font: 400 13px/24px "Open Sans"; }
  footer .reserve {
    margin-top: 60px; }

  .blog_item_elem p{
      margin-bottom: 40px;
      color: #ffffff;
      font: 300 14px "Roboto Condensed";
      text-transform: lowercase;
  }

  .arrow_up{
      bottom: -40px;
      right: 52px;
  }

  .portfolio_box .arrow_up{
      right: 80px;
      bottom: -700px;
  }

.wpcf7-form{
    padding: 0;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.wpcf7-form-control{
    margin-top: 20px;
    margin-right: 15px;
    padding: 25px 0 25px 25px;
    background-color: transparent;
    width: 350px;
    height: 56px;
    border: 2px solid #464646;
}

.wpcf7-textarea{
    max-width: 480px;
    height: 185px;
    resize: none;
}

.wpcf7-submit{
    margin-top: 150px;
    max-width: 170px;
    height: 35px;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    font: 700 18px/1 "Roboto Condensed";
    text-transform: uppercase;
}

.list-input{
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.comment-reply-title{
  color: #333333;
  font: 700 20px/1 "Roboto Condensed";
}

#submit{
  width: 170px;
  height: 35px;
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
  font: 700 18px/1 "Roboto Condensed";
  text-transform: uppercase;
}

.text-comment {
  background-color: #e6e6e6;
  align-items: center;
}